#root {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
  text-align: center;
}

/* 1. Для Chrome, Safari, Edge (WebKit) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 2. Для Internet Explorer */
input[type=number]::-ms-clear,
input[type=number]::-ms-reveal {
  display: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container{
/* На мобильных устройствах элемент занимает всю ширину */
  width: 100%;
  padding: 20px;
  flex-grow: 1;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    width: 60%;
    padding: 0px;
    flex-grow: 1;
    margin: 0 auto; 
  }
}

header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding-left: 20px;
}

.div{
  background-color: #1f1f1f;
  border: 1px solid #383838;
  border-radius: 15px;
  padding: 10px;
}

.mt-10{
  margin-top: 10px;
}

.flex-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header button{
  background-color: #1f1f1f;
  padding: 5px;
}

header p {
  color: #55bbfe;
  font-size: 20px;
}

p{
  padding: 0px;
  margin: 0px;
}

img{
  height: 200px;
}

.container{
/* На мобильных устройствах элемент занимает всю ширину */
  width: 100%;
  padding: 20px;
  flex-grow: 1;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    width: 60%;
    padding: 0px;
    flex-grow: 1;
    margin: 0 auto; 
  }
}

.wrapper-70{
  width: 100%;
}

@media (min-width: 768px) {
  .wrapper-70 {
    width: 70%;
  }
}

.active-link button{
  border: 2px solid #ffffff;  
}

.btn-xl{
  padding: 5px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: transparent;
  background-color: #1f1f1f;
  border: 1px solid #383838;
  border-radius: 15px;
}

.btn-xl p{
  font-size: 30px;
}

.btn-m{
  padding: 5px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: transparent;
  background-color: #1f1f1f;
  border: 1px solid #383838;
  border-radius: 15px;
}


input {
  height: 30px;
  padding-left: 5px ;
  border-radius: 15px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Ready{
  color: greenyellow;
}

.OrderCreated{
  color: orange;
}

.OrderPaid{
  color: aqua;
}

.Shipment{
  color: #55bbfe;
}

.product-div{
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #383838;
  border-top: 1px solid #383838;
}

.w-80{
  width: 80%;
}

.rightElem{
  margin-left: auto;
  margin-right: 10px;
}